<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Index</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <h1>All Songs Index Page</h1>

    <ul>
        <% song.forEach ((s) => { %>
        <li>
          <span id="titleText">Song Title: <%= s.name %></span> <br/>
  Album: <%=s.album%>; Artist: <%=s.artist%>; Year: <%=s.year%>; Length: <%=s.length%>; Genre: <%=s.genre%><br>
  It was added by <%=s.User.username%> 
  <br/>
        </li>
        <% }) %>
      </ul>
    <nav>
      <a href="/songs/new">Create a New Song</a><br />
      <a href="/users">Visit Your Profile</a>
    </nav>
  </body>
</html>
