<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
        </style>
<link rel="stylesheet" href="/css/app.css" />  
</head>
  <body>
    <h1>Songs Index Page</h1>

    <ul>
        <% song.forEach ((s) => { %>
        <li>
          <span id="titleText">Song Title: <%= s.name %></span> <br/>
          <span id="albumText">Album: <%=s.album%>;</span>&nbsp;&nbsp;&nbsp;<span id="boldText">Artist: <%=s.artist%>;</span>&nbsp;&nbsp;&nbsp;<span id="year"> Year: <%=s.year%>; </span>&nbsp;&nbsp;&nbsp; <span id="lenText">Length: <%=s.length%> </span><span id="grnText">&nbsp;&nbsp;&nbsp;Genre: <%=s.genre%></span><br>
  <span id="userText">It was added by <%=s.User.username%> </span>
  <br/><br>
        </li>
        <% }) %>
      </ul>

      <div class="box">
    <div>
      <a href="/songs/new" class="btn">Create a New Song</a><br />
      <a href="/songs/search" class="btn">Search Songs</a><br />
      <a href="/users" class="btn">Visit Your Profile</a>
    </div>
</div>
  </body>
</html>
