<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Index</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <h1>Songs Index Page</h1>

    <ul>
        <% song.forEach ((s) => { %>
        <li>
          <span id="titleText">Song Title: <%= s.name %></span> <br/>
  Album: <%=s.album%>; Artist: <%=s.artist%>; Year: <%=s.year%>; Length: <%=s.length%>; Genre: <%=s.genre%><br>
  It was added by <%=s.User.username%> 
  <br/><br>
  <a href="/songs/<%=s.id %>/edit" class="btn">Edit Song</a>
  <br><br>
    <form action="/songs/<%=s.id%>?_method=DELETE" method="POST">
        <input type="submit" class="btn" value="Delete Song" />
    </form>
  <br><br>
        </li>
        <% }) %>
      </ul>
      <div class="box">
    <div>
      <a href="/songs/new" class="btn">Create a New Song</a><br />
      <a href="/songs/search" class="btn">Search Songs</a><br />
      <a href="/users" class="btn">Visit Your Profile</a>
    </div>
</div>
  </body>
</html>
